/* size */
.size-small {
    font-size: 75%;
}

.size-medium {
    font-size: 100%;
}

.size-large {
    font-size: 125%;
}

.size-h1 {
    font-size: 150%;
}

.color-primary {
    color: white;
}

.color-secondary {
    color: black;
}